In [2]:
import pandas as pd

In [3]:
import numpy as np

In [29]:
data=pd.read_excel('countrydata.xlsx')

In [38]:
data.head()

,Year,Region,Subregion,Gender,sog_w2_wrrd_food_yes,sog_w2_wrrd_food_no,sog_w2_unsafe_strag_ag,sog_w2_unsafe_neutral,sog_w2_unsafe_strdis_dis,sog_w2_wrk_yes,...,sog_w2_nb_chldrn_2under6,sog_w2_nb_chldrn_3under6,sog_w2_nb_chldrn_over3,sog_w2_nb_chldrn_none,sog_w2_educ_none,sog_w2_educ_prim,sog_w2_educ_second,sog_w2_educ_oversecond,sog_w2_educ_uniunderg,sog_w2_educ_unigrad
0,2020,South Asia,Afghanistan,Female,25.0,75.0,17.0,14.0,69.0,54.0,...,10.55942,3.076023,2.77971,60.205797,2.707246,8.55942,31.791304,20.634783,23.544928,12.704348
1,2020,South Asia,Afghanistan,Male,23.0,77.0,16.0,11.0,73.0,59.0,...,10.55942,3.076023,2.77971,60.205797,2.707246,8.55942,31.791304,20.634783,23.544928,12.704348
2,2020,South Asia,Afghanistan,Combined,24.0,76.0,17.0,13.0,71.0,56.0,...,10.55942,3.076023,2.77971,60.205797,2.707246,8.55942,31.791304,20.634783,23.544928,12.704348
3,2021,South Asia,Afghanistan,Female,63.0,37.0,85.0,9.0,6.0,56.0,...,8.00000,6.000000,4.00000,39.000000,4.000000,7.00000,14.000000,19.000000,49.000000,7.000000
4,2021,South Asia,Afghanistan,Male,67.0,33.0,79.0,9.0,12.0,65.0,...,20.00000,7.000000,8.00000,31.000000,3.000000,7.00000,18.000000,18.000000,46.000000,9.000000

In [31]:
data.isnull().sum()

Year                        0
Region                      0
Subregion                   0
Gender                      0
sog_w2_wrrd_food_yes       78
                         ...
sog_w2_educ_prim          447
sog_w2_educ_second        447
sog_w2_educ_oversecond    447
sog_w2_educ_uniunderg     447
sog_w2_educ_unigrad       447
Length: 260, dtype: int64

In [33]:
data_Copy=data.copy()

In [35]:
for i in range(260):
    for j in data.index:
        
        if(pd.isnull(data_Copy.iloc[j,i])):
            data.iloc[j,i]=data_Copy[data_Copy.columns[i]].mean()

In [39]:
data.head()

,Year,Region,Subregion,Gender,sog_w2_wrrd_food_yes,sog_w2_wrrd_food_no,sog_w2_unsafe_strag_ag,sog_w2_unsafe_neutral,sog_w2_unsafe_strdis_dis,sog_w2_wrk_yes,...,sog_w2_nb_chldrn_2under6,sog_w2_nb_chldrn_3under6,sog_w2_nb_chldrn_over3,sog_w2_nb_chldrn_none,sog_w2_educ_none,sog_w2_educ_prim,sog_w2_educ_second,sog_w2_educ_oversecond,sog_w2_educ_uniunderg,sog_w2_educ_unigrad
0,2020,South Asia,Afghanistan,Female,25.0,75.0,17.0,14.0,69.0,54.0,...,10.55942,3.076023,2.77971,60.205797,2.707246,8.55942,31.791304,20.634783,23.544928,12.704348
1,2020,South Asia,Afghanistan,Male,23.0,77.0,16.0,11.0,73.0,59.0,...,10.55942,3.076023,2.77971,60.205797,2.707246,8.55942,31.791304,20.634783,23.544928,12.704348
2,2020,South Asia,Afghanistan,Combined,24.0,76.0,17.0,13.0,71.0,56.0,...,10.55942,3.076023,2.77971,60.205797,2.707246,8.55942,31.791304,20.634783,23.544928,12.704348
3,2021,South Asia,Afghanistan,Female,63.0,37.0,85.0,9.0,6.0,56.0,...,8.00000,6.000000,4.00000,39.000000,4.000000,7.00000,14.000000,19.000000,49.000000,7.000000
4,2021,South Asia,Afghanistan,Male,67.0,33.0,79.0,9.0,12.0,65.0,...,20.00000,7.000000,8.00000,31.000000,3.000000,7.00000,18.000000,18.000000,46.000000,9.000000

In [37]:
data.to_excel('Country_after_tran.xlsx')